footer.footer
	.container
		.row
			.col.col-4.col-xs-12
				.footer__logo
					img(src="img/logo-footer.png")
			.col.col-8.col-xs-12.right
				nav.nav.nav-footer
					.nav__item
						a.nav__link._active(href="/")
							span Главная
					.nav__item
						a.nav__link(href="#about")
							span О мастерской
					.nav__item
						a.nav__link(href="#services")
							span Услуги
					.nav__item
						a.nav__link(href="#prices")
							span Цены
					.nav__item
						a.nav__link(href="#articles")
							span Статьи
					.nav__item
						a.nav__link(href="/contacts")
							span Контакты
				.footer__pricelist
					button.btn.btn-orange
						span Прайс-лист
				//- .footer__contacts
				//- 	.item с 10:00 до 22:00 без выходных
				//- 	.item
				//- 		a(href="tel:+74950001122")
				//- 			span +7 495 000-11-22
				//- 	.item
				//- 		a(href="mailto:info@mail.ru")
				//- 			span info@mail.ru
		.row
			.col
				.footer__copyright © 2018, Ландшафтная мастерская «ЭКСПЕРТ ГРИН»
				.footer__rights Все права защищены. Копирование материалов допускается только с письменного согласия автора.
script(src="js/main.bundle.js")