section.section.section-reasons
	.container
		.section__title
			h2.ttl.ttl-h2 Причины заказать элитный ландшафт у нас
		.row.center
			.reason
				.reason__inner
					.reason__ico
						img(src="img/icheck.png")
					.reason__content
						.reason__ttl Внимательное отношение к каждому клиенту
						.reason__txt Наши дизайнеры учитывают все пожелания заказчиков. Уникальные, креативные проекты в полной мере отражают образ жизни, вкусы и увлечения владельцев усадеб.
			.reason
				.reason__inner
					.reason__ico
						img(src="img/icheck.png")
					.reason__content
						.reason__ttl Прозрачное ценообразование
						.reason__txt Стоимость проекта ландшафтного дизайна и благоустройства участка указана в прайсе. Благодаря этому смета не станет для заказчика неприятным сюрпризом. При необходимости расходы на услуги можно пересмотреть с учетом бюджетных рамок.
			.reason
				.reason__inner
					.reason__ico
						img(src="img/icheck.png")
					.reason__content
						.reason__ttl Высокая квалификация специалистов
						.reason__txt Все сотрудники имеют профильное образование и регулярно посещают специализированные курсы по ландшафтному дизайну.
			.reason
				.reason__inner
					.reason__ico
						img(src="img/icheck.png")
					.reason__content
						.reason__ttl Поддержка заказчика
						.reason__txt После завершения ландшафтных работ многие клиенты неоднократно обращаются к нам за советами по уходу за растениями и эксплуатации инженерных коммуникаций. Возможно заключение договора на обслуживание сада.
			.reason
				.reason__inner
					.reason__ico
						img(src="img/icheck.png")
					.reason__content
						.reason__ttl Работа по нормативам
						.reason__txt Дизайнеры, строители и другие сотрудники строго соблюдают требования СНиП, правила пожарной безопасности и порядок посадки растений.