section.section.section-service
	.container
		.section__title
			h1.ttl.ttl-h1 Благоустройство
		.row
			.section__cover
				img(src="img/bg.jpg")
			.section__content
				p Благоустройство территории - это комплекс работ по изменению окружающего пейзажа, городского или загородно участка в соответствии с эксплуатационными, экологическими и эстетическими требованиями. Компания KOHTУP выполняет все виды работ по благоустройству территории различных объектов.

	.section__item
		.container
			.section__title
				h2.ttl.ttl-h2 Подготовка территории
			.row
				.col.col-3
					img(src="img/nogi.jpg")
				.col.col-9
					ul.list
						li очистка от мусора, его вывоз или утилизация;
						li выкорчевывание пней, валка больных и старых деревьев, защита ценных насаждений, санитарная обрезка деревьев;
						li план благоустраиваемого участка;
						li геодезические работы, разметка элементов проекта;
						li подготовка почвы: исследование на плодородность, улучшение плодородности, завоз почвы на участок.

			
	.section__item.section__item_gray
		.container
			.section__title
				h2.ttl.ttl-h2 Мелиоративные работы
			.row
				.col.col-9
					ul.list
						li очистка от мусора, его вывоз или утилизация;
						li выкорчевывание пней, валка больных и старых деревьев, защита ценных насаждений, санитарная обрезка деревьев;
						li план благоустраиваемого участка;
						li геодезические работы, разметка элементов проекта;
						li подготовка почвы: исследование на плодородность, улучшение плодородности, завоз почвы на участок.
				.col.col-3
					img(src="img/nogi.jpg")

	.section__item
		.container
			.section__title
				h2.ttl.ttl-h2 Цены на благоустройство территории
			.row
				.col.col-3
					img(src="img/nogi.jpg")
				.col.col-9
					table.tbl
						thead
							tr
								th Виды работ
								th Ед. измерения
								th Цена, руб.
								th Примечание
						tbody
							tr
								td.title(colspan="4") Подготовительные работы
							tr
								td Очистка территории от мусора
								td 100 м<sup>2</sup>
								td от 1000
								td от кол-ва
							tr
								td Очистка территории от мусора
								td м<sup>2</sup>
								td от 30
								td от плотности
							tr
								td.title(colspan="4") Работа по осушению и отводу воды
							tr
								td Устройство закрытого дренажа
								td м.п.
								td от 480
								td от сложности работ
							tr
								td Устройство открытой дренажной канавы
								td м.п.
								td от 320
								td от глубины
							tr
								td Устройство дренажного колодца
								td шт.
								td от 4000
								td от конструкции и глубины
							tr
								td Установка водоотводных лотков
								td м.п.
								td от 300
								td