section.section.section-steps
	.container
		.section__title
			h2.ttl.ttl-h2 Этапы работ
		.row.steps
			.step
				.step__ico
					img(src="img/i7.png")
				.step__ttl Звонок или заявка
			.step
				.step__ico
					img(src="img/i8.png")
				.step__ttl Выезд специалиста
			.step
				.step__ico
					img(src="img/i9.png")
				.step__ttl Договор
			.step
				.step__ico
					img(src="img/i10.png")
				.step__ttl Выполнение работ в срок
			.step
				.step__ico
					img(src="img/i11.png")
				.step__ttl Отличный результат