doctype html
html
	include inc/head
	body
		include inc/header
		.layout
			main.main
				include inc/slider
				include inc/section_services
				include inc/section_reasons
				include inc/section_steps
				include inc/section_form
		include inc/footer